<!DOCTYPE html>
<html class="js cssanimations">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>学生信息</title>
	<link rel="stylesheet" href="amazeui.min.css">
	<link rel="stylesheet" href="pkunews.css">
	<script src="jquery.min.js"></script>
	<script src="amazeui.min.js"></script>
	<script src="handlebars.min.js"></script>
	<script src="jquery-1.10.2.min.js"></script>
</head>
<body>
	<div class="pkunews_main">

		<div class="pkunews_head">
			<header data-am-widget="header" class="am-header am-header-red pkunews_head_block am-no-layout">
				<div style="text-align:center;color:#fff;font-family:Georgia;font-size:18px;font-weight:bold;">学生信息</div>
			</header>
		</div>
		<div class="pkunews_content" style="background-color:#fff;">
			<div class="am-panel-group">
				<div class="am-panel am-panel-default">
					<div class="am-panel-hd">&nbsp;&nbsp;<strong>选择学生</strong></div>    		
					<div class="am-panel-bd">
						<table class="am-table am-table-bordered am-table-striped am-table-centered am-table-compact">
								<tbody>
								    <tr>
								    	<td width="25%"><strong>学号</strong></td>
								    	<td><div>
								    		<input id="stuidInput" type="text" oninput="inputChange(this.id)"/>
											</div>
										</td>
							   	    </tr>
								    <tr>
								    	<td width="25%"><strong>姓名</strong></td>
								    	<td><div style="">
								    		<input id="nameInput" type="text" oninput="inputChange(this.id)"/>
											</div>
										</td>
							   	    </tr>
								</tbody>
						</table>
						<table class="am-table am-table-bordered am-table-striped am-table-centered am-table-compact" id="selectTable">
							<tbody>

								<tr>
									<td rowspan="5"><strong>年级</strong></td>
									<td id="1" abbr="2002"  width="25%" onclick="changeAddrStyle(this)">2002</td>
									<td id="2" abbr="2003" width="25%" onclick="changeAddrStyle(this)">2003</td>
									<td id="3" abbr="2004" width="25%" onclick="changeAddrStyle(this)">2004</td>
								</tr>
								<tr>
									<td id="4" abbr="2005" width="25%" onclick="changeAddrStyle(this)">2005</td>
									<td id="5" abbr="2006" width="25%" onclick="changeAddrStyle(this)">2006</td>
									<td id="6" abbr="2007" width="25%" onclick="changeAddrStyle(this)">2007</td>
								</tr>
								<tr>
									<td id="7" abbr="2008" width="25%" onclick="changeAddrStyle(this)">2008</td>
									<td id="8" abbr="2009" width="25%" onclick="changeAddrStyle(this)">2009</td>
									<td id="9" abbr="2010" width="25%" onclick="changeAddrStyle(this)">2010</td>
								</tr>
								<tr>
									<td id="10" abbr="2011" width="25%" onclick="changeAddrStyle(this)" >2011</td>
									<td id="11" abbr="2012" width="25%" onclick="changeAddrStyle(this)" >2012</td>
									<td id="12" abbr="2013" width="25%" onclick="changeAddrStyle(this)">2013</td>
								</tr>
								<tr>
									<td id="13" abbr="2014" width="25%" onclick="changeAddrStyle(this)" >2014</td>
									<td id="14" abbr="2015" width="25%" onclick="changeAddrStyle(this)" >2015</td>
									<td id="15" abbr="2016" width="25%" onclick="changeAddrStyle(this)">2016</td>
								</tr>
						
								<tr>
									<td rowspan="1"><strong>性别</strong></td>
									<td id="17" abbr="男"  width="25%" onclick="changeAddrStyle(this)">男</td>
									<td id="18" abbr="女" width="25%" onclick="changeAddrStyle(this)">女</td>
									<td id="19" abbr="" width="25%" class="am-primary" onclick="changeAddrStyle(this)">全部</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
				<div class="am-panel am-panel-default">
					<div class="am-panel-hd">&nbsp;&nbsp;<strong><span id="title">全部学生</span></strong></div>  

					<div class="am-panel-bd" id="studentList">
						<table class="am-table" >
							<thead>
				    			<tr>
				    				<th width="22.5%"><small>学号</small></th>
				    				<th width="22.5%"><small>姓名</small></th>
				    				<th width="22.5%"><small>性别</small></th>
				    				<th width="22.5%"><small>年级</small></th>
					           		<tbody id="studentInfo">
					                </tbody>
					       		</tr>
				    		</thead>
						</table>
					</div>

				</div>
                          
			</div>	
		</div>
	</div>

	<script type="text/javascript">
		var stu = '<%- JSON.stringify(students)%>';            //获取后端传的学生数据
		var students = JSON.parse(stu);
        var datas = [];
		var grade = [];
	    var gender = '';

        //借助js中的正则表达式来实现学号和姓名的模糊搜索
        function inputChange(id){
			var inputValue = $('#' + id).val();
            if(inputValue != ''){
				inputValue = inputValue.replace(/[\-\[\]{}()*+?.,\\\^$|#\s]/g, "\\$&");
				var matcher = new RegExp(inputValue, "i");
				if(id == 'nameInput'){
					datas = $.grep(students, function(value) {
						return matcher.test(value.name) || matcher.test(value.pinyin);
					});
				}else if(id == 'stuidInput'){
					datas = $.grep(students, function(value) {
						return matcher.test(value.stuid);
					});
				}
			}else{
				datas = students;
			}

			if(inputValue != '' && datas.length == 0){
				$('#studentList').hide();
			}else{
				retrSocores(grade, gender);
			}
		}

        
		function changeAddrStyle(obj){     
			var id = obj.id;
			if(id>0 && id<=15){
				if(!$(obj).hasClass("am-primary")){
					$(obj).addClass("am-primary"); 
					grade.push(obj.abbr);
		      	}else{  
		      		$(obj).removeClass("am-primary"); 
		      		grade=$.grep(grade,function(n, i){
                    	return n != obj.abbr;
					});       	   
		        }
			}else if(id>15 && id<=19){
				gender = obj.abbr;
				$("#selectTable tr td").each(function(index){
					if(index>15&&index<=19){
						if(index ==parseInt(obj.id)){  
		            	    $(this).addClass("am-primary");  
		           	    }else{  
		               	    $(this).removeClass("am-primary");    
		                }
					}
				});
		    }
			
			$("#title").html(grade.sort().join(",") + " " +gender + " 学生");
			retrSocores(grade, gender);
	    }

        //在页面展示学生列表
		function retrSocores(grade, gender) {
			var $studentList = $('#studentList');
			$studentList.hide();
            if(datas.length == 0)
                datas = students;
		    if(datas){
				$studentList.show();             
				var sb = "";
				$.each(datas, function(i, item){
					if((grade.length == 0 || $.inArray(item.grade, grade) != -1) && (!gender || item.gender == gender)){
					sb += "<tr>";
					sb += "<td><a style=\"color:#000000;\" onclick=\"showDetail('" + item.stuid + "')\">" + item.stuid + "</a></td>";
					sb += "<td><a style=\"color:#000000;\" onclick=\"showDetail('" + item.stuid + "')\">" + item.name +"</a></td>";
					sb += "<td><a style=\"color:#000000;\" onclick=\"showDetail('" + item.stuid + "')\">" + item.gender +"</a></td>";
					sb += "<td><a style=\"color:#000000;\" onclick=\"showDetail('" + item.stuid + "')\">" + item.grade +"</a></td>";
					sb += "<td><a id=\"detailBtn_"+ item.stuid +"\" class=\"am-icon-chevron-down\" style=\"color:#8c0000;\" onclick=\"showDetail('" + item.stuid + "')\"></a></td>";
					sb += "</tr>";
					sb += "<tr>";
					sb += "<td colspan=\"5\" id=\"xh_"+item.stuid+"\" style=\"display:none;\">";
					/*sb += "<div class=\"am-panel-bd\">";
					sb += "<div id=\"nation\" class=\"am-gallery-desc\"><label><small>民族</small></label>&nbsp;&nbsp;<span><small>"+ "</small></span></div>";
					sb += "<div class=\"am-gallery-desc\"><label><small>入学年月</small></label>&nbsp;&nbsp;<span><small>"+ "</small></span></div>";
					sb += "<div class=\"am-gallery-desc\"><label><small>出生日期</small></label>&nbsp;&nbsp;<span><small>"+ "</small></span></div>";
					sb += "<div class=\"am-gallery-desc\"><label><small>学苑</small></label>&nbsp;&nbsp;<span><small>"+"</small></span></div>";
					sb += "<div class=\"am-gallery-desc\"><label><small>电话</small></label>&nbsp;&nbsp;<span><small>"+ "</small></span></div>";
					sb += "<div class=\"am-gallery-desc\"><label><small>邮箱</small></label>&nbsp;&nbsp;<span><small>"+ "</small></span></div>";
					sb += "<div class=\"am-gallery-desc\"><label><small>导师</small></label>&nbsp;&nbsp;<span><small>"+ "</small></span></div>";
					sb += "<div class=\"am-gallery-desc\"><label><small>协助导师</small></label>&nbsp;&nbsp;<span><small>"+ "</small></span></div>";
					sb += "<div class=\"am-gallery-desc\"><label><small>学生类型</small></label>&nbsp;&nbsp;<span><small>"+ "</small></span></div>";
					sb += "<div class=\"am-gallery-desc\"><label><small>学位类型</small></label>&nbsp;&nbsp;<span><small>"+ "</small></span></div>";
					sb += "<div class=\"am-gallery-desc\"><label><small>位置</small></label>&nbsp;&nbsp;<span><small>"+ "</small></span></div>";
					sb += "<div class=\"am-gallery-desc\"><label><small>专业</small></label>&nbsp;&nbsp;<span><small>"+"</small></span></div>";
					sb += "<div class=\"am-gallery-desc\"><label><small>研究方向</small></label>&nbsp;&nbsp;<span><small>"+"</small></span></div>";
					sb += "</div>"; */;
					sb += "</td>";
					sb += "</tr>";
				        }
					});
				var $studentInfo = $('#studentInfo');
				$studentInfo.html(sb);
			}else{
				$studentList.hide();
				$('#title').html("错误");
			}
		}
		
		//当点击某一学生时，通过ajax将学号传入后端，将get到的数据进行显示
		function showDetail(id){
			var $clickedBtn = $("#detailBtn_"+id);
			var $detailInfo = document.getElementById("xh_"+id);
			//var $detailInfo = $("xh_"+id);
			

				 $(function(){
         			$.ajax({
             			type: "GET",
           				url: "student/:"+id,
           				dataType: "json",
           				success: function(data){
           					if($detailInfo.style.display == "none"){
								$clickedBtn.attr("class","am-icon-chevron-up");
								$detailInfo.style.display = "";
							}else{
								$clickedBtn.attr("class","am-icon-chevron-down");
								$detailInfo.style.display = "none";
							}
                            var sb = "";
							sb += "<div class=\"am-panel-bd\">";
							sb += "<div class=\"am-gallery-desc\"><label>基本信息：</label>&nbsp;&nbsp;</div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>民族</small></label>&nbsp;&nbsp;<span><small>"+data.detail.nation + "</small></span></div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>政治面貌</small></label>&nbsp;&nbsp;<span><small>"+data.detail.politicsstatus + "</small></span></div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>入学年月</small></label>&nbsp;&nbsp;<span><small>"+data.detail.startyearmonth + "</small></span></div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>出生日期</small></label>&nbsp;&nbsp;<span><small>"+data.detail.birthday + "</small></span></div>";
							//sb += "<div class=\"am-gallery-desc\"><label><small>学苑</small></label>&nbsp;&nbsp;<span><small>"+data.detail.class + "</small></span></div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>电话</small></label>&nbsp;&nbsp;<span><small>"+data.detail.telephone + "</small></span></div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>邮箱</small></label>&nbsp;&nbsp;<span><small>"+data.detail.mail + "</small></span></div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>导师工号</small></label>&nbsp;&nbsp;<span><small>"+data.detail.teacher_id + "</small></span></div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>协助导师工号</small></label>&nbsp;&nbsp;<span><small>"+data.detail.vice_teacher_id + "</small></span></div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>学生类型</small></label>&nbsp;&nbsp;<span><small>"+data.detail.type_name + "</small></span></div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>学位类型</small></label>&nbsp;&nbsp;<span><small>"+data.detail.degree_type_name + "</small></span></div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>位置</small></label>&nbsp;&nbsp;<span><small>"+data.detail.location + "</small></span></div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>专业</small></label>&nbsp;&nbsp;<span><small>"+data.detail.major_name +"</small></span></div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>研究方向</small></label>&nbsp;&nbsp;<span><small>"+data.detail.researcharea +"</small></span></div>";

                            sb += "<hr /><div class=\"am-gallery-desc\"><label>实习信息：</label>&nbsp;&nbsp;</div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>实习单位</small></label>&nbsp;&nbsp;<span><small>"+data.intern.company + "</small></span></div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>导师审核是否通过</small></label>&nbsp;&nbsp;<span><small>"+(data.intern.teacherconfirm== '1'?'是':'否') + "</small></span></div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>图书馆审核是否通过</small></label>&nbsp;&nbsp;<span><small>"+(data.intern.libraryconfirm== '1'?'是':'否') + "</small></span></div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>后勤审核是否通过</small></label>&nbsp;&nbsp;<span><small>"+(data.intern.hqconfirm== '1'?'是':'否') + "</small></span></div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>财务审核是否通过</small></label>&nbsp;&nbsp;<span><small>"+(data.intern.cwconfirm== '1'?'是':'否') + "</small></span></div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>学工办审核是否通过</small></label>&nbsp;&nbsp;<span><small>"+(data.intern.xgbconfirm== '1'?'是':'否') + "</small></span></div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>实习办审核是否通过</small></label>&nbsp;&nbsp;<span><small>"+(data.intern.sxbconfirm== '1'?'是':'否') + "</small></span></div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>实习立项生效时间</small></label>&nbsp;&nbsp;<span><small>"+data.intern.internstarttime + "</small></span></div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>结项审核是否通过</small></label>&nbsp;&nbsp;<span><small>"+(data.intern.endconfirm== '1'?'是':'否') + "</small></span></div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>实习结项生效时间</small></label>&nbsp;&nbsp;<span><small>"+data.intern.internendtime + "</small></span></div>";

                            sb += "<hr /><div class=\"am-gallery-desc\"><label>开题信息：</label>&nbsp;&nbsp;</div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>题目</small></label>&nbsp;&nbsp;<span><small>"+data.paper.title + "</small></span></div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>是否提交</small></label>&nbsp;&nbsp;<span><small>"+(data.paper.status== '1'?'是':'否') +"</small></span></div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>审核是否通过</small></label>&nbsp;&nbsp;<span><small>"+(data.paper.confirm== '1'?'是':'否') +"</small></span></div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>审核时间</small></label>&nbsp;&nbsp;<span><small>"+data.paper.confirmtime + "</small></span></div>";

							sb += "<div class=\"am-gallery-desc\"><label><small>标题</small></label>&nbsp;&nbsp;<span><small>"+data.paperPass.title +"</small></span></div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>答辩秘书</small></label>&nbsp;&nbsp;<span><small>"+data.paperPass.assistor +"</small></span></div>";		
							sb += "<div class=\"am-gallery-desc\"><label><small>秘书邮箱</small></label>&nbsp;&nbsp;<span><small>"+data.paperPass.assistormail + "</small></span></div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>初稿是否提交</small></label>&nbsp;&nbsp;<span><small>"+(data.paperPass.isdraftsubmit== '1'?'是':'否') +"</small></span></div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>导师审核初稿是否通过</small></label>&nbsp;&nbsp;<span><small>"+(data.paperPass.isteacheragree== '1'?'是':'否') +"</small></span></div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>论文终稿电子版是否提交</small></label>&nbsp;&nbsp;<span><small>"+(data.paperPass.eFinalStatus== '1'?'是':'否') + "</small></span></div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>论文终稿纸质版提交审核是否通过</small></label>&nbsp;&nbsp;<span><small>"+(data.paperPass.printFinalStatus== '1'?'是':'否')+"</small></span></div>";
							
                            sb += "<hr /><div class=\"am-gallery-desc\"><label>就业信息：</label>&nbsp;&nbsp;</div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>就业类型</small></label>&nbsp;&nbsp;<span><small>"+data.job.type +"</small></span></div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>公司名称</small></label>&nbsp;&nbsp;<span><small>"+data.job.company + "</small></span></div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>职位</small></label>&nbsp;&nbsp;<span><small>"+data.job.position +"</small></span></div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>地区</small></label>&nbsp;&nbsp;<span><small>"+data.job.location +"</small></span></div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>所属行业</small></label>&nbsp;&nbsp;<span><small>"+data.job.industry + "</small></span></div>";
							sb += "<div class=\"am-gallery-desc\"><label><small>薪资水平</small></label>&nbsp;&nbsp;<span><small>"+data.job.salary +"</small></span></div>";
			
							sb += "</div>";    		
                            $detailInfo.innerHTML=sb;
 
                      		 }
         				});
					});
				          			    
            /*
				if("none" == $detailInfo[0].style.display){
					alert("change");
					$clickedBtn.attr("class","am-icon-chevron-up");
					$detailInfo[0].style.display = "block";
				}else{
					$clickedBtn.attr("class","am-icon-chevron-down");
					$detailInfo[0].style.display = "none";
				}
		    */
		}
		$(function() {
			retrSocores(grade, gender);
		});
	</script>
</body>
</html>